#heading{
    color: brown;
}
.name{
    font-size: 20px;
    font:medium ;
    color: black;
}
.Valentine
{
    font-size: 18px;
    background-color:lightpink;
    color:red;

}
.Proteus
{
    font-size: 18px;
    background-color: greenyellow;
    color: lightcoral;

}
.speech{
    font-size: 15px;
    font:normal;
    color: black;
}
.stage-direction:hover
    {
    color:cyan;
    background-color: coral;
}
.stage-direction
    {
        font-size:22px;
        font:medium;
        color: black;
        background-color:goldenrod;
}
.table{
    border:lightsteelblue
    
}
.table-head{
    background-color: mediumaquamarine;
    font-size:16px;
    color:chocolate
}
.table-data{
    font-size:14px;
    text-align: center;

}
tr:nth-child(even){
    background-color:khaki;
}
tr:nth-child(odd){
    background-color:lightskyblue;
}
.link-color{
    color:orangered
}
.name:hover{
    text-shadow: 3px 12px 2px red;
    padding:10px;
    border-radius: 5px;

    border-top: 2px solid #123456;

    border-left: 5px solid #123456;
    border-right: 5px solid #123455;
    
    border-bottom: 2px solid black; 
    border-bottom-width: 5px;
    border-bottom-style: ridge;


}