#heading{
    color: brown;
}
.name{
    font-size: 20px;
    font:medium ;
    color: black;
}
.Valentine
{
    font-size: 18px;
    background-color:lightpink;
    color:red;

}
.Proteus
{
    font-size: 18px;
    background-color: greenyellow;
    color: lightcoral;

}
.speech{
    font-size: 15px;
    font:normal;
    color: black;
}
.stage-direction:hover
    {
    color:cyan;
    background-color: coral;
}
.stage-direction
    {
        font-size:22px;
        font:medium;
        color: black;
        background-color:goldenrod;
}
.table{
    border:lightsteelblue
    
}
.table-head{
    background-color: mediumaquamarine;
    font-size:16px;
    color:chocolate
}
.table-data{
    font-size:14px;
    text-align: center;

}
tr:nth-child(even){
    background-color:khaki;
}
tr:nth-child(odd){
    background-color:lightskyblue;
}


borders, colors, and row stripes and apply it to the table.